<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List - MVC</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="welcome"> 
            <h2>Hello <%= user.userName %>!</h2>
            <a href="/logout"><button class="logout">Logout</button></a>
        </div>
       
    <h1 class="app-title">Todos</h1>
    <ul class="todo-list">
    <% todos.forEach( el => { %>
        <li class="item" data-id='<%=el._id%>'>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
            <i class="fa fa-trash del"></i>
            <i class="fa fa-check"></i>
        </li>
    <% }) %>    
    </ul>

    <h2 class="left">You have <%= left %> things left to do.</h2>

    <h2>Add a Todo:</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>
   
    <p class="copyright-todo">
        &copy; Made by
        <a href="https://mylenavendramini.com/">Mylena Vendramini</a>
    </p>
    </div>
    <script src="js/main.js"></script>
</body>
</html>